<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<%- include navbar %>

<title>SMDR - Home</title>
<div class="container-fluid">
	<div class="row">
		<div class="col wrapper-background margin-sides-35" id="wrapper">
	</div>
</div>

<%- include footer %>