<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<%- include('navbar') %>
<title>raymondrizzo.com - legal</title>
<div id="wait-overlay" class="rounded d-none"><i class="fas fa-cog fa-10x fa-spin"></i></div>

<div class="container-fluid">
	<div class="col-sm wrapper-background">
		<div class="row site-primary"><h1>Legal</h1></div>
			<div class="row">
				<div id="detailArea" class="col text-center">
					<strong><p>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p></strong>
				</div>	
			</div>
			<div class="row">
				<div id="detailArea" class="col text-center">
					<p>Redistribution and use, with or without modification, is highly encouraged.</p>
				</div>
			</div>
	</div>
</div>

<%- include('footer') %>
	